{% extends "base.html" %}

{% block content %}
<form id="newItem" class="form-group" method="POST">
    <table class="table text-center">
        <thead>
            <th>Name</th><th>Category</th><th>Price</th>
        </thead>
        <td><input type="text" name="name" id="name" required></td>
        <td><input type="text" name="category" id="category" required></td>
        <td><input type="number" min="0.01" step="0.01" id="price" name="price" required></td>

    </table>
    <hr>

    <hr>
    <input type="submit" id="btnAdd" class="btn btn-block btn-primary" value="Add Item">
</form>
<div class="text-center">
    <h1>
        {{ message }}
    </h1>
</div>

{% endblock %}