{% extends "base.html" %}

{% block content %}
<h1 class="bg-info rounded text-center p-4 m-4">Search for a stock</h1>
<table class="table text-center">
    <thead>
        <th><a class="text-center" href="/portfolio/VIEWALL">View Your Portfolio</a></th>
    </thead>
</table>

<div class="mui-container">
    <table id="stocks" class="table text-center">
        <thead>
            <th>Ticker</th>
            <th>Company Name</th>
            <th>Sector</th>

        </thead>
        <tbody>
            {% for stock in stockTable %}
            <tr>
                <td><a class="text-center" href="/stock/{{ stock[0] }}">{{ stock[0] }}</a></td>
                <td>{{ stock[1] }}</td>
                <td>{{ stock[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#stocks").DataTable();
    });
</script>


{% endblock %}
