{% extends "base.html" %}

{% block content %}

<a class="text-center" href="/"><h3>Search for stock</h3></a>
<br>
<div class="text-center">
    <img class="img-fluid text-center" src="{{ logoURL }}">
</div>
<h1 class="text-center">{{ company }}</h1>
{{ error }}

<div class="row">
    <div class="col m-3 p-3">
        <h2><u>About {{ company }}:</u></h2>
        <p class="">
            {{ summ }}
        </p>
        <br>
        <h2><u>Contact Info:</u></h2>
        <p class=" ">
        {{ address1 }}
        </p>
        
        <p class=" ">
        {{ address2 }}
        </p>
        
        <p class=" ">
        {{ address3 }}
        </p>
        <br>
        <div class=" ">
            <a class=" " href="{{ website }}" target="_blank" >{{ website }}</a> 
        </div>
               
        <p class=" ">
        {{ phone }}
        </p>
    </div>

    <div class="col m-3 p-3">
        <h2><u>Stock Info:</u></h2>
        <div class="row">
            <div class="col">
                <p class=" ">
                    Ticker symbol: {{ symbol }}
                </p>
                <br>
                <p class=" ">
                    Sector: {{ sector }}
                </p>
                <br>
                <p class=" ">
                    {{ lastPrice }}
                </p>
                <br>
                <p class=" ">
                    {{ div }}
                </p>
                <br>
                <p class=" ">
                    {{ h52 }}
                </p>
                <br>
                <p class=" ">
                    {{ l52 }}
                </p>
                <br>
                <h2><u>Buy Shares:</u></h2>
                <form id="addShares" class="text-center form-group" action="/portfolio/{{ symbol }}" method="POST">
                    <table>
                        <tr>
                            <td><h2 class="m-1">Number of shares:</h2></td>
                            <td><input type="number" min="1" step="1" id="shares" name="shares" required></td>
                        </tr>
                    </table>
                    <input type="submit" value="Add to portfolio" class="btn-success btn-block rounded p-2 text-center">
                </form>
        
        
            </div>
            <div class="col">
                <p class=" ">
                    {{ vol }}
                </p>
                <br>
                <p class=" ">
                    {{ avol }}
                </p>
                <br>
                <p class=" ">
                    {{ c52 }}
                </p>
                <br>
                <p class=" ">
                    {{ s52 }}
                </p>
                <br>
                <p class=" ">
                    {{ mcap }}
                </p>

            </div>

        </div>

    </div>

</div>



{% endblock %}
